/* File: css/site-nprogress.css */
:root {
  --site-progress-color: #d29a38;
  --site-progress-height: 4px; 
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--site-progress-color) !important;
  position: fixed !important;
  z-index: 999999 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: var(--site-progress-height) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--site-progress-color), 0 0 5px var(--site-progress-color);
  opacity: 0.55;
}

#nprogress .spinner {
  display: none !important;
}
