@use "../vars/vars-night";

@layer vetools {
	.ve-night-mode {
		body {
			background: vars-night.$rgb-bg--body-night;
		}
	}

	.ve-night-mode--standard {
		.overlay-noise {
			position: absolute;
			inset: 0;
			background-image: url("../../img/Assets/CSS/background-dark-mode-1.png");
			background-size: 128px;
			pointer-events: none;
			opacity: 0.009;
			z-index: -1;
		}
	}

	.ve-night-mode--classic {
		body {
			background: vars-night.$rgb-bg--body-night
				url("../../img/Assets/CSS/background-dark-mode-1.png")
				repeat scroll left top;
		}
	}

	/* -------------------------------------------- */

	.ve-rollbox-mode--default {
		.rollbox-min {
			right: 7px;
			left: unset;
		}

		.rollbox {
			right: 1em;
			left: unset;
		}
	}

	.ve-rollbox-mode--right {
		.rollbox-min {
			right: 7px !important;
			left: unset !important;
		}

		.rollbox {
			right: 1em !important;
			left: unset !important;
		}
	}

	.ve-rollbox-mode--left {
		.rollbox-min {
			right: unset !important;
			left: 7px !important;
		}

		.rollbox {
			right: unset !important;
			left: 1em !important;
		}
	}
}
