@use "../vars/vars-night";

@layer vetools {
	.ve-night-mode {
		body {
			background: vars-night.$rgb-bg--body-night;
		}
	}


	/* 
	=================================
			OLD CSS BACKGROUND
	=================================
	.ve-night-mode--standard {
		.overlay-noise {
			position: absolute;
			inset: 0;
			background-image: url();
			background-size: 128px;
			pointer-events: none;
			opacity: 0.009;
			z-index: -1;
		}
	}

	.ve-night-mode--classic {
		body {
			background: vars-night.$rgb-bg--body-night
			url();   /*repeat scroll left top; 
		}
	} 
*/

/*
=================================
		NEW CSS BACKGROUND
=================================
*/
	.ve-night-mode--standard {
		.overlay-noise {
			position: absolute;
			inset: 0;
			background-image: url("../img/assets/css/texture-leather.png");/* Leather texture (bottom layer) */
			background-size:  512px;  /* leather texture larger tiles */
			background-repeat: repeat;       /* leather texture repeats */
			background-blend-mode:  normal;
			pointer-events: none;
			opacity: 0.20;  /* Slightly higher opacity for texture visibility */
			z-index: -1;
		}
	}

	.ve-night-mode--standard {
		.overlay-noise::after {
			content: '';
			position: absolute;
			inset: 0;
			background-image: 
				/* CSS vignette gradient (top layer) */
				linear-gradient(to right, transparent 0%, transparent 80%, rgba(0, 0, 0, 0.3) 100%),
				linear-gradient(to left, transparent 0%, transparent 80%, rgba(0, 0, 0, 0.3) 100%);
				/* Grunge texture (middle layer) */
				background-size: 
				100% 100%, 
				100% 100%;
			background-repeat: 
				no-repeat, 
				no-repeat;
			opacity:  0.7;
			z-index: -1;
			pointer-events: none;
		}
	}


	/* -------------------------------------------- */

	.ve-rollbox-mode--default {
		.rollbox-min {
			right: 7px;
			left: unset;
		}

		.rollbox {
			right: 1em;
			left: unset;
		}
	}

	.ve-rollbox-mode--right {
		.rollbox-min {
			right: 7px !important;
			left: unset !important;
		}

		.rollbox {
			right: 1em !important;
			left: unset !important;
		}
	}

	.ve-rollbox-mode--left {
		.rollbox-min {
			right: unset !important;
			left: 7px !important;
		}

		.rollbox {
			right: unset !important;
			left: 1em !important;
		}
	}
}
